* {
    background-color: #D2E0FB;
}

#gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 15px;
}

.tittle,
.text {
    text-align: center;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.ol {
    list-style-position: inside;
}

.tittle .a {
    background-color: #F9F3CC;
}

.a {
    background-color: #F9F3CC;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-style: solid;
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
}

.text .link {
    text-decoration: none;
    background-color: #F9F3CC;
}

button {
    background-color: #F9F3CC;
    text-decoration: none;
    padding: 8px;
    margin: 8px;
    border-radius: 15px;
    display: block;
    margin-left: 600px;
}

#box {
    width: 400px;
}

body {
    font-family: sans-serif, 'Times New Roman';
}

#button1 {
    display: block;
    width: 300px;
}

#button2 {
    display: block;
    width: 300px;
}

#button3 {
    display: block;
    width: 300px;
}

.divTittle {
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    background-color: #F9F3CC;
}