* {
    background-color: #D2E0FB;
}

#gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

.tittle,
.text {
    text-align: center;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.ul,
.ol {
    list-style-position: inside;
}

.tittle .a {
    background-color: #F9F3CC;
}

.a {
    background-color: #F9F3CC;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text .link {
    text-decoration: none;
    background-color: #F9F3CC;
}

